body {
  background-color: #dbd9d9;
  background-repeat: no-repeat;
  background-size: 100% 720px;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
.sidebar {
  width: 33.333333%;
  padding:0;
  margin:0;
}

.map {
  border-left: 1px solid #727272;
  position: absolute;
  left: 33.333333%;
  width: 66.666666%;
  top: 0;
  bottom: 0;
}

.pad2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container1{
  text-align: center;
  margin: 0 auto;
}

.site-header{
  color: #111111;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
}

.namelabel{
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  background-color: #edeaea;
  padding-top: 10px;
  padding-bottom: 10px;
}


.prioritybutton{
  margin:bottom:0; 
  margin-top: 20px;
  margin-right: 20px;
  padding: 15px 15px;
  color: #fff;
  /*border-radius: 4px;*/
  border: none;
  background-color: #34495E;
  border-bottom: 4px solid #2C3E50;
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
  font-size:15px;

}

.lists{
  padding-top:25px;
  padding-bottom:25px;
  margin: 15px 5px;
  background-color: rgb(61, 252, 47);
  border-radius: 4px;
  border: none;
  text-align: center;
}

.content{
  padding-top:25px;
  padding-bottom:25px;
  width: 90%;
  background-color: rgb(61, 252, 47);
  border: none;
  text-align: center;
}

.header{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #34495E;
  border-bottom: 4px solid #2C3E50;
}


div[type="header"]{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #34495E;
  border-bottom: 4px solid #2C3E50;
}



/* Analysis Panel */
.analysispanel{
  background-color: #BDC3C7;
  margin-top: 0;
  width: 80%;
  border-radius: 4px;
  margin-left: 10%;
  padding: 15px 5px;
  font-size: 15px;
}

input[name="check"]{
    display: none;
}

.analysisselection{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.analysisselection:hover{
 background-color: #edeaea;
} 

input[name="check"] + .label-text{
  padding: 5px 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: #111111;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
}

input[name="check"]:active + .label-text{
 color: #34495E;
}
input[name="check"]:hover + .label-text{
 cursor: pointer;
}


/* Tree Counting*/
.analysistext{
  font-size: 15px;
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
}

/* Buttons */
.btn-login{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #3498DB;
  border-bottom: 4px solid #2980B9;
  font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
  font-size:15px;

}

input[type="submit"]:active{
  transform: translateY(4px);
}

.btn-login:hover{
  background-color: #4aa3df;
}

.btn-signup:hover{
  background-color: #3d566e;
}

.btn-signup{
  padding: 10px 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #34495E;
    border-bottom: 4px solid #2C3E50;
    font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
    font-size:15px;

}

/*input[name="submit"]{

   padding-left:35px;
  padding-top: 15px
  padding-bottom: 15px;
  margin-top: 20px;
  width: 140px;
  color: #fff;
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: #34495E;
  border-bottom: 4px solid #2C3E50;

}*/
